.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.8);
  z-index: 1000;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
.modal__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal {
  position: relative;
  padding: 2rem;
  width: auto;
  max-width: 767px;
  margin: 2rem auto;
  background: #fff;

  &__picture {
    max-width: 100%;
    width: 100%;
    height: 600px;
    background: #eee;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $primary;
    margin-bottom: 1.8rem;
    padding-bottom: 0.9rem;
    border-bottom: 2px solid $divider-grey;
  }
  &__close {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: rgba(119, 119, 119, 0.65);
    color: #fff;
    cursor: pointer;
    font-size: 1.9rem;

    &:hover {
      background: rgba(119, 119, 119, 1);
    }
  }
}
.project__detail {
  list-style: none;

  &-item {
    margin-bottom: 0.4rem;
  }
  &-label {
    font-weight: 700;
  }
}
