.skill {
  margin-top: 2rem;

  &__wrapper {
    position: relative;
    height: 100%;
    border: 1px solid $divider-grey;
    border-radius: 5px;
    padding: 3rem 1.5rem;
    transition: all 0.5s ease;

    &::after {
      content: '';
      background-color: $primary;
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      display: block;
      height: 2px;
      width: 0;
      transition: 1s;
    }
  }
  &__icon {
    color: $primary;

    svg,
    i {
      font-size: 3rem;
    }
  }
  &__content {
    margin-top: 1rem;

    .title {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.5s ease;
    }
    .text {
      margin-top: 1rem;
      font-size: 0.94rem;
      color: $text-muted;
      line-height: 1.8;
      letter-spacing: 0.03rem;
    }
  }
  &__wrapper:hover {
    border: transparent;
    box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);

    &::after {
      left: 0;
      right: 0;
      width: 100%;
    }
    .skill__icon {
      animation: mover 1s infinite alternate;
    }
    .title {
      color: $primary;
    }
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
